<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="w-75 mx-auto">
    <div class="row">
      <div class="col-md-4">
        <div class="count-box rounded-pill">
          <i class="far fa-hospital"></i>
          <span
            data-purecounter-start="0"
            data-purecounter-end="{{hoscount}}"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Hospitals</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="count-box rounded-pill">
          <i class="fa-solid fa-hospital-user"></i>
          <span
            data-purecounter-start="0"
            data-purecounter-end="{{pcount}}"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Bookins till now</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="count-box rounded-pill">
          <i class="fa-solid fa-bed-pulse"></i>
          <span
            data-purecounter-start="0"
            data-purecounter-end="{{beds}}"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Total Beds Available</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->
