{% extends 'base.html' %} {% block title %} Slot Booking {% endblock title %} {%
block body %}

<section class="triggered-events section-bg">
  <div class="container">
    <div class="display-4 text-center" style="color: #1977cc">Book bed</div>
    <br />
    {% include 'message.html' %}

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body bg-light">
            <h5 class="text-center" style="color: #1977cc">
              Covid Care Center
            </h5>

            <form action="/slotbooking" , method="POST">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control mt-2"
                  name="srfid"
                  value="{{current_user.srfid}}"
                  placeholder="Enter Hospital Code"
                  readonly
                  required
                />
              </div>

              <div class="form-group">
                <select name="bedtype" id="bedtype" class="form-control mt-2">
                  <option value="normalbed" selected>Normal bed</option>
                  <option value="hicubed">H.I.C.U bed</option>
                  <option value="icubed">I.C.U bed</option>
                  <option value="ventbed">Ventilator bed</option>
                </select>
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control mt-2"
                  name="hcode"
                  placeholder="Hospital Code"
                  required
                />
              </div>

              <div class="form-group">
                <input
                  type="number"
                  class="form-control mt-2"
                  name="spo2"
                  placeholder="Patient Oxygen level"
                  required
                />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control mt-2"
                  name="pname"
                  placeholder="Patient name"
                  required
                />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control mt-2"
                  name="pphone"
                  placeholder="Patient phone no."
                  required
                />
              </div>

              <div class="form-group">
                <textarea
                  name="paddress"
                  cols="30"
                  rows="3"
                  class="form-control mt-2"
                  placeholder="Patient address"
                ></textarea>
              </div>

              {% if not ispatient %}
              <button
                class="btn mt-2 text-white"
                type="submit"
                style="background-color: #1977cc"
              >
                Book
              </button>
              {% else %}
              <button
                class="btn mt-2 text-white"
                type="submit"
                style="background-color: #1977cc"
                disabled
              >
                Book
              </button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8 mb-3">
        <div class="card">
          <div class="card-body bg-light table-responsive">
            <h5 style="color: #1977cc">Available beds</h5>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sno</th>
                  <th scope="col">Hospital Code</th>
                  <th scope="col">Hospital Name</th>
                  <th scope="col">Normal Bed</th>
                  <th scope="col">H.I.C.U Bed</th>
                  <th scope="col">I.C.U Bed</th>
                  <th scope="col">Ventilator Bed</th>
                </tr>
              </thead>
              <tbody>
                {% for post in posts %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{post.hcode}}</td>
                  <td>{{post.hname}}</td>
                  <td>{{post.normalbed}}</td>
                  <td>{{post.hicubed}}</td>
                  <td>{{post.icubed}}</td>
                  <td>{{post.ventbed}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
